<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @game.level %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @game.player1 %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @game.player2 %>
</p>

<p>
  <strong>Objective count:</strong>
  <%= @game.objective_count %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

